body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display: block;
}

header {
  background-color: #00296B;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-right: auto;
}

header .nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
}

.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
}

.hero {
  text-align: center;
  padding: 100px 20px; 
  background-color: #f0f0f0;
  background-image: url('src/assets/images/Mesa\ de\ trabajo\ 1\ 1.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 79vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  background-color: #003f88; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin-left: 200px; 
  margin-right: 200px
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.info-container {
  background-color: #0f6dd8; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin-left: 200px; 
  margin-right: 200px
}

.info-container h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.info-form .form-group {
  margin-bottom: 15px;
}

.info-group {
  background-color: #003f88; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  color: white; 
}

.info-group .form-group {
  margin-bottom: 15px;
}

.info-group input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 1em;
  box-sizing: border-box;
  color: white; 
}

.form-group {
  margin-bottom: 20px;
}

.label-container {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: white;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  width: 24px; 
  height: 24px;
  margin-right: 10px; 
}

input {
  width: 100%;
  padding: 10px 10px 10px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.info-group input:focus {
  border-bottom-color: #00A651;
  outline: none;
  box-shadow: none;
}

.login-form input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 1em;
  box-sizing: border-box;
  color: white; 
}

.login-form input:focus {
  border-color: #00A651;
  outline: none;
  box-shadow: none;
}

.login-button {
  background-color: #00A651;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
}

.login-button:hover {
  background-color: #007a3d;
  transform: translateY(-2px);
}

.login-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 166, 81, 0.5);
}

.it-logo {
  color: #00A651;
}

.nav-button {
  background: linear-gradient(135deg, #00A651, #00509E); 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-button:hover {
  background: linear-gradient(135deg, #00509E, #00A651); 
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  color: #FF6F61; 
}

.nav-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 111, 97, 0.5); 
}

header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav a:hover {
  color: #FF6F61; 
}

.fancy-button {
  background: linear-gradient(135deg, #6e8efb, #a777e3); 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.fancy-button:hover {
  background: linear-gradient(135deg, #f3f1f6, #f2f2f5); 
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  color: #00296B; 
}

.fancy-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(110, 142, 251, 0.5); 
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
}

.top-rated {
  text-align: center;
  background-color: #00296B;
  color: white;
  padding: 30px 20px;
}

.recipes {
  display: flex;
  justify-content: center;
}

.recipe-card {
  background-color: white;
  color: #00296B;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.contact {
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(135deg, white, white); 
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 50px auto; 
  position: relative;
  overflow: hidden;
}


.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #00296B;
  position: relative;
  z-index: 1;
}


.contact::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.contact::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  z-index: 1;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

form input:focus, form textarea:focus {
  border-color: #00A651;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 166, 81, 0.5);
}

.submit-button {
  background-color: #00A651;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #007a3d;
  transform: translateY(-2px);
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 166, 81, 0.5);
}

form input, form textarea {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}

form button {
  background-color: #00A651;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #00296B;
  padding: 20px;
  text-align: center;
  color: white;
}

footer img {
  width: 30px;
  margin: 0 10px;
}

.auth-buttons-center {
display: flex;
justify-content: center;
margin-top: 20px;
}
